/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <150>; };

&mt { quick_tap_ms = <150>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
              &kp ESC           &kp N1  &kp N2        &kp N3     &kp N4                 &kp N5       &kp N6       &kp N7          &kp N8     &kp N9   &kp N0    &kp MINUS
&kp LEFT_WIN  &kp GRAVE         &kp Q   &kp W         &kp E      &kp R                  &kp T        &kp Y        &kp U           &kp I      &kp O    &kp P     &kp LBKT       &mt RIGHT_COMMAND RBKT
              &kp LEFT_ALT      &kp A   &kp S         &kp D      &kp F                  &kp G        &kp H        &kp J           &kp K      &kp L    &kp SEMI  &mt RCTRL SQT
              &kp LEFT_CONTROL  &kp Z   &kp X         &kp C      &kp V                  &kp B        &kp N        &kp M           &kp COMMA  &kp DOT  &kp FSLH  &mt RALT BSLH
                                        &kp LEFT_WIN  &lt 1 TAB  &mt RIGHT_SHIFT SPACE  &lt 2 RET    &lt 2 ENTER  &mt RSHFT BSPC  &lt 1 DEL  &to 4
            >;
        };

        NUM_ARROW {
            bindings = <
       &none         &kp F1  &kp F2    &kp F3    &kp F4     &kp F5         &kp F6       &kp F7  &kp F8  &kp F9  &kp F10    &kp F11
&to 0  &none         &none   &kp HOME  &kp UP    &kp PG_UP  &none          &kp FSLH     &kp N7  &kp N8  &kp N9  &kp MINUS  &kp F12  &to 0
       &kp LEFT_ALT  &none   &kp LEFT  &kp DOWN  &kp RIGHT  &none          &kp STAR     &kp N4  &kp N5  &kp N6  &kp PLUS   &none
       &kp LCTRL     &none   &kp END   &none     &kp PG_DN  &none          &none        &kp N1  &kp N2  &kp N3  &kp EQUAL  &none
                             &none     &trans    &trans     &lt 3 ENTER    &lt 3 ENTER  &trans  &trans  &none
            >;
        };

        SYMBOLS {
            bindings = <
       &trans  &kp F1  &kp F2                &kp F3     &kp F4                 &kp F5    &kp F6  &kp F7          &kp F8              &kp F9           &kp F10  &kp F11
&to 0  &trans  &trans  &kp LESS_THAN         &kp EQUAL  &kp GREATER_THAN       &trans    &trans  &kp LBKT        &kp LS(UNDERSCORE)  &kp RBKT         &trans   &kp F12  &to 0
       &trans  &trans  &kp LEFT_PARENTHESIS  &kp MINUS  &kp RIGHT_PARENTHESIS  &trans    &trans  &kp LEFT_BRACE  &kp SEMI            &kp RIGHT_BRACE  &trans   &trans
       &trans  &trans  &kp STAR              &kp COLON  &kp SEMI               &trans    &trans  &kp PIPE        &kp TILDE           &kp DOLLAR       &trans   &trans
                       &trans                &lt 3 TAB  &trans                 &trans    &trans  &trans          &lt 3 DELETE        &trans
            >;
        };

        adjust_layer {
            bindings = <
       &none        &none         &none         &none         &none         &none           &none         &none         &none         &none         &none         &none
&none  &bootloader  &none         &none         &none         &none         &none           &none         &none         &none         &none         &none         &bootloader  &none
       &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
       &sys_reset   &none         &none         &none         &to 2         &to 1           &to 1         &to 2         &none         &none         &none         &sys_reset
                                  &none         &trans        &none         &trans          &trans        &none         &trans        &none
            >;
        };

        GAMING_LAYER {
            bindings = <
       &kp ESC    &kp N1  &kp N2    &kp N3    &kp N4     &kp N5    &none  &none      &none     &none      &none  &none
&none  &kp CAPS   &kp Q   &kp W     &kp E     &kp R      &kp T     &none  &none      &kp UP    &none      &none  &none  &to 0
       &kp LSHFT  &kp A   &kp S     &kp D     &kp F      &kp G     &none  &kp LEFT   &kp DOWN  &kp RIGHT  &none  &to 1
       &kp LCTRL  &kp Z   &kp X     &kp C     &kp V      &kp B     &none  &none      &none     &none      &none  &to 2
                          &kp LGUI  &kp LALT  &kp SPACE  &none     &none  &kp SPACE  &none     &none
            >;
        };
    };
};
